body{
    background: linear-gradient(#32a889 0%,#5dd61c 100%);
    text-align:center;
}
#APPS{
    background-color: rgb(192, 219, 241);
}
#Carouselt{
    background-color:rgb(51, 230, 200);
}
#Carousel img{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p{
    margin-top: 15px;
    color :white;
    font: 20px;
}